
<section id="bookSearch" class="showBook">
  <img src="<%= book.image_url %>" alt="<%= book.title %> picture not available">
  <h2><b>Book:</b> <%= book.title %> </h2>
  <h2><b>Author:</b> <%= book.author %></h2>
  <p><b>Description:</b> <%= book.description %></p>
  <p><b>ISBN:</b> <%= book.isbn %></p>
  <p><b>Bookshelf:</b> <%= book.bookshelf %></p>
</section>