<!DOCTYPE >
<html lang="en">
 <%- include('../layout/head') %>
 <body>
   <main>
   <%- include('../layout/header') %>
    <h1>Books Currently in the Database</h1>
    <h3>Total number: <%=booksAmount%></h3>
    <a href="/searches/new"><button>Search Books</button></a>
    <section class="book-view container">
      <% result.forEach(results => { %>
        <%- include('./books/detail', {book: results}) %>
        <a href="/books/<%=results.id%>"><button class="viewButton">View Book Details</button></a>
      <% }) %>
    </section>
  </main>
 </body>
</html>


