<!DOCTYPE >
<html lang="en">
 <%- include('../layout/head') %>
 <body>
   <main>
   <%- include('../layout/header') %>
    <p>Total number of books: <%=booksAmount%></p>
    <section class="book-view container">
      <ul id="book-list">
        <% savedBooks.forEach(book => { %>
          <li class="book-item" data.id="<%= book.id %>">
            <li class= "images"><img src= <%=book.image_url %></li>
            <h4>Book: <%= book.title %></h4>
            <p>Author: <%= book.author %></p>
            <a href="/books/<%=book.id%>">View Details</a>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>
 </body>
</html>
