<!DOCTYPE >
<html lang="en">
 <%- include('../layout/head') %>
 <body>
   <main>
    <h1>Welcome to Our Book App</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore amet voluptas voluptate laborum rerum voluptates maxime, debitis, animi tempore cupiditate dolorem culpa excepturi. Libero iusto placeat quasi blanditiis quam ut.</p>
    <p><a href="/searches/new">New</a></p>
    <p>Total number of books: <%=booksAmount%></p>
    <section class="book-view container">
      <ul id="book-list">
        <% savedBooks.forEach(book => { %>
          <li class="book-item" data.id="<%= book.id %>">
            <h4>Book: <%= book.title %></h4>
            <p>Author: <%= book.author %></p>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>
 </body>
</html>
